<h1> <%= @clothes_item.name %> </h1>
<%= image_tag @clothes_item.image_url %>
<h6> <%= @clothes_item.style  %> </h6>
<h6> <%= @clothes_item.season  %> </h6>
<h6> <%= @clothes_item.in_use  %> </h6>
<p> <%= @clothes_item.description %> </p>
