<h1> <%= @clothes_item.name %> </h1>
<div class = "main">
<%= image_tag @clothes_item.image_url %>
<div class = "descriptions"
<h4> Style: <%= @clothes_item.style  %> </h6>
<h4> Season: <%= @clothes_item.season  %> </h6>
<h4> <%= @clothes_item.in_use  %> </h6>
<p> Description: <%= @clothes_item.description %> </p>
</div>
</div>
